*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#7beaef ;
}
h1{
    text-align: center;
    margin-top: 40px;
    color: #302f3e;
    
    

}
.main{
width: 400px;
height: auto;
margin-left: 40%;
margin-right: 40%;
}
.f-para{
    width: 400px;
    text-align: justify;
    height: 300px;
    margin-top: 20px;
    border:4px solid #302f3e;
    border-radius: 20px;
    padding: 30px;
    overflow: scroll;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    
}
.child-2{
    margin-top: 20px;
}
